* {
  margin: 0%;
  padding: 0%;
  box-sizing: border-box;
}

html,
body {
  height: 100%;
  width: 100%;
}

body {
  margin: 0px;
  font-family: sans-serif;
}

nav {
  background-color: #333446;
  color: aliceblue;
  height: 36px;
  font-size: 12px;
}

nav {
  display: flex;
  gap: 2rem;
}

.navDiv {
  width: 100%;
  display: flex;
  gap: 1rem;
  justify-content: center;
}

.navContent {
  display: flex;
  /* justify-items: center; */
  gap: 5px;
}

/* svg {
  margin-top: 8px;
  margin-left: 12px;
} */

.navSpan {
  margin-top: 9px;
}

.nav-section2 {
  display: none;
}

.kids {
  width: 100%;
}

.hero-section {
  /* background-image: url(public/kids.png); */
  background-size: cover;
  background-position: center;
  height: 100vh;
}

/* .imgg {
  width: 8rem;
  height: 8rem;
  box-shadow: yellow 5px;
} */

.nav-container {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  margin-left: 10px;
  gap: 10px;
}

.logo-image {
  width: 5rem;
  height: 5rem;
}

.fname {
  font-size: 30px;
  font-family: "Playfair Display", serif;
  font-weight: bolder;
}

.nav-section {
  display: flex;
  gap: 25px;
  margin-left: 25px;
  color: #63c8ff;
  font-size: small;
}

.donate-us-button {
  background-color: #333446;
  color: aliceblue;
  width: 8rem;
  height: 2rem;
  margin-left: 10px;
  margin-right: 10px;
  border: none;
  display: inline-flex;
  border-top-left-radius: 25px;
  border-top-right-radius: 25px;
  border-bottom-left-radius: 25px;
  border-bottom-right-radius: 25px;
  cursor: pointer;
}

.donate-us-button:hover {
  background-color: #40414b;
  color: rgb(233, 245, 255);
}

@media (max-width: 768px) {
  .navDiv {
    flex-direction: row;
    /* flex-direction: column; */
    justify-items: center;
    gap: 10px;
    height: fit-content;
    width: 100%;
  }

  .navContent {
    display: flex;
    align-items: center;
    /* Vertically center icon + text */
    justify-content: center;
    gap: 6px;
  }

  .navSpan {
    font-size: 8px;
  }

  .mySvg {
    margin-top: 7px;
  }

  .hero-section {
    /* background-image: url(public/kids.png); */
    background-size: cover;
    background-position: center;
    height: 60vh;
  }
  .nav-section2 {
    display: block;
  }
  .nav-section {
    display: none;
  }
}

/* ✅ Normal Mobiles & Small Tablets: 481px to 768px */
/* @media (max-width: 768px) {
  .navDiv {
    flex-direction: column;
    align-items: center;
    gap: 1.2rem;
  }

  .navContent {
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    gap: 5px;
  }

  .navSpan {
    text-align: center;
    font-size: 13.5px;
  }
} */
